.dtd-button {
  min-width: 32px;
  padding: 6px 12px;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 400;
  text-align: center;
  border: none;
  user-select: none;
  border-radius: 5px;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);


  &- {
    border: 1px solid #e0e2e4;
    background-color: white;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      background-color: #d6d6d6;
    }
  }

  // primary button style 
  &-primary {
    background-color: #007fff;
    color: white;

    &:hover {
      background-color: darken(#007fff, 5%);
    }

    &:active {
      background-color: darken(#007fff, 10%);
    }
  }

  &-danger {
    background-color: #ff5219;
    color: white;

    &:hover {
      background-color: darken(#ff5219, 5%);
    }

    &:active {
      background-color: darken(#ff5219, 10%);
    }
  }

  &-link {
    background-color: transparent;
    color: darken(#007fff, 5%);

    &:active {
      color: darken(#007fff, 10%);
    }
  }


  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-primary[disabled] {
    &:hover {
      background-color: darken(#007fff, 0%);
    }

    &:active {
      background-color: darken(#007fff, 0%);
    }
  }

  &-danger[disabled] {
    &:hover {
      background-color: darken(#ff5219, 0%);
    }

    &:active {
      background-color: darken(#ff5219, 0%);
    }
  }

  &-link[disabled] {
    &:active {
      color: darken(#007fff, 0%);
    }
  }

  &- {
    &:hover {
      background-color: white;
    }

    &:active {
      background-color: white;
    }
  }

}
