.dtd-d-tree {
  &-wrapper {
    display: flex;
    border: 1px solid #e2e4e5;

    ul {
      padding: 0;
      margin: 0;

      >li {
        list-style: none;
      }
    }

    input[type="checkbox"] {
      position: absolute;
      clip: rect(0, 0, 0, 0)
    }

    label::before {
      content: '';
      display: inline-block;
      border: 1px solid #d3d6d9;
      border-radius: 4px;
      text-align: center;
      width: 16px;
      height: 16px;
      line-height: 16px;
      background-color: white;
      font-weight: bold;
    }

    input[type="checkbox"]:checked+label::before {
      content: '\2713';
      color: white;
      background-color: #007fff;
    }

    input[type="checkbox"]:indeterminate,
    :indeterminate+label::before {
      background: lighten(#007fff, 40%);
    }
  }

  &-empty {
    height: 40vh;
    display: inline-block;
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-left {
    width: 50%;
    border-right: 1px solid #e2e4e5;

    &-all {
      display: flex;
      align-items: center;
      margin: 8px;
      margin-bottom: 0px;
      padding: 4px;

      >span {
        margin-left: 4px;
      }
    }

    ul {
      height: 40vh;
      overflow: auto;
    }

    li {
      cursor: pointer;
      margin: 4px;
      padding: 8px;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.disabled {
        color: #d3d6d9;
        cursor: not-allowed;
      }

      &:hover {
        background-color: #edeeef;
      }

      >div {
        flex-grow: 1;
        display: flex;
        align-items: center;

        >span {
          margin-left: 4px;
        }
      }

      >span {
        color: #007fff;
        padding: 0 4px;
        border-left: 1px solid #e2e4e5;
      }
    }
  }

  &-right {
    width: 50%;

    p {
      padding: 8px;
      margin: 0;
    }

    >ul {
      max-height: 50vh;
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;

      >li {
        margin: 4px;
        padding: 4px;
        display: flex;
        align-items: center;
        background-color: #f7f7f8;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
          background-color: darken(#f7f7f8, 2%);
        }

        >span {
          margin-left: 4px;
        }
      }
    }
  }
}
